#home .text-1{
    margin-left: -70px;
        
    }
    #home .text-2{
        margin-left: -70px;
        
    }
    #home .text-3{
        margin-left: -70px;
        
        text-align: left;
        
    }