/* Home */

#home{
    height: 900px;

}


#home .home-content .text-1{
 
    font-size: 25px;
    width: 250px;

}
#home .home-content .text-2{
 
    font-size: 25px;
    width: 250px;
 
}
#home .home-content .text-3{
    font-size: 25px;
 
    width: 250px;
 
}



.headings{
    font-size: 1.7rem;
}

/* About */




#intro{
   
    text-align: justify;
    font-size: 15px;
    font-family: century;

  
    width: 110%;

  
    padding: 10px;
}



