/* Home */

#home{
    height: 820px;

}

.home-content{
    /* border: 1px solid black; */
    
        
}

#home .home-content .text-1{
    /* border: 1px solid black; */
    font-size: 25px;
    width: 250px;
    margin-left: -80px;
    /* text-align: center; */
}
#home .home-content .text-2{
    /* border: 1px solid black; */
    font-size: 25px;
    width: 250px;
    margin-left: -80px;
    /* text-align: center; */
}
#home .home-content .text-3{
    font-size: 25px;
    /* border: 1px solid black; */
    width: 250px;
    margin-left: -80px;
    /* text-align: center; */
}



.headings{
    font-size: 1.7rem;
}

/* About */




#intro{
   
    text-align: justify;
    font-size: 15px;
    font-family: century;

  
    width: 110%;

  
    padding: 10px;
}

